## Data Preprocessing

In [1]:
# Importing the Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
# Data Collection
def collect_data():

    # Data from the John Hopkins University Dataset on GitHub
    # https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

    # Defining the variables required
    filenames = ['time_series_covid19_confirmed_global.csv',
                'time_series_covid19_deaths_global.csv',
                'time_series_covid19_recovered_global.csv']

    url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/'

    # Making the main dataframes required for the analysis
    confirmed_global = pd.read_csv(url + filenames[0])
    deaths_global = pd.read_csv(url + filenames[1])
    recovered_global = pd.read_csv(url + filenames[2])
    country_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv')

    # Simple Data Cleaning - Removing and renaming the Columns

    # Removing the Province/State column, as it is pretty much not of any use
    confirmed_global.drop(columns = ['Province/State', 'Lat', 'Long'], inplace = True)
    deaths_global.drop(columns = ['Province/State', 'Lat', 'Long'], inplace = True)
    recovered_global.drop(columns = ['Province/State', 'Lat', 'Long'], inplace = True)
    country_cases.drop(columns = ['Last_Update', 'Incident_Rate', 'People_Tested', 'People_Hospitalized', 'UID'], inplace = True)
    # Renaming the columns for easier access
    confirmed_global.rename(columns = {"Country/Region": "country"}, inplace = True)
    deaths_global.rename(columns = {"Country/Region": "country"}, inplace = True)
    recovered_global.rename(columns = {"Country/Region": "country"}, inplace = True)

    country_cases.rename(columns = {
        "Country_Region" : "country",
        "Confirmed": "confirmed",
        "Deaths": "deaths",
        "Recovered" : "recovered",
        "Active" : "active",
        "Mortality_Rate": "mortality"
    }, inplace = True)

    # Removing some duplicate values from the table
    confirmed_global = confirmed_global.groupby(['country'], as_index = False).sum()
    deaths_global = deaths_global.groupby(['country'], as_index = False).sum()
    recovered_global = recovered_global.groupby(['country'], as_index = False).sum()

    # This value is being changed as there was an error in the original dataset that had to be modified
    confirmed_global.at[178, '5/20/20'] = 251667

    return (confirmed_global, deaths_global, recovered_global, country_cases)

In [3]:
confirmed_global, deaths_global, recovered_global, country_cases = collect_data()
confirmed_global

,country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,9/10/20,9/11/20,9/12/20,9/13/20,9/14/20,9/15/20,9/16/20,9/17/20,9/18/20,9/19/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,38572,38606,38641,38716,38772,38815,38855,38872,38883,38919
1,Albania,0,0,0,0,0,0,0,0,0,...,10860,11021,11185,11353,11520,11672,11816,11948,12073,12226
2,Algeria,0,0,0,0,0,0,0,0,0,...,47488,47752,48007,48254,48496,48734,48966,49194,49413,49623
3,Andorra,0,0,0,0,0,0,0,0,0,...,1301,1344,1344,1344,1438,1438,1483,1483,1564,1564
4,Angola,0,0,0,0,0,0,0,0,0,...,3217,3279,3335,3388,3439,3569,3675,3789,3848,3901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,28664,29256,29906,30574,31362,32250,33006,33843,34401,35003
184,Western Sahara,0,0,0,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
185,Yemen,0,0,0,0,0,0,0,0,0,...,2003,2007,2009,2011,2013,2016,2019,2022,2024,2026
186,Zambia,0,0,0,0,0,0,0,0,0,...,13214,13323,13466,13539,13720,13819,13887,13928,14022,14070
187,Zimbabwe,0,0,0,0,0,0,0,0,0,...,7453,7479,7508,7526,7531,7576,7598,7633,7647,7672

In [4]:
def get_new_cases(country):
    time_series = confirmed_global.melt(id_vars = ['country'], var_name = 'date', value_name = 'cases')
    time_series = time_series[time_series['country'] == country]
    time_series = time_series.drop(['country'], axis = 1)
    time_series.index = [x for x in range(len(time_series))]
    return time_series

def get_new_deaths(country):
    time_series = deaths_global.melt(id_vars = ['country'], var_name = 'date', value_name = 'cases')
    time_series = time_series[time_series['country'] == country]
    time_series = time_series.drop(['country'], axis = 1)
    time_series.index = [x for x in range(len(time_series))]
    return time_series

def get_new_recoveries(country):
    time_series = recovered_global.melt(id_vars = ['country'], var_name = 'date', value_name = 'cases')
    time_series = time_series[time_series['country'] == country]
    time_series = time_series.drop(['country'], axis = 1)
    time_series.index = [x for x in range(len(time_series))]
    return time_series

In [5]:
def create_time_series(country_name, param):
    time_series = None
    if param == 'confirmed':
        time_series = get_new_cases(country_name)
    elif param == 'deaths':
        time_series = get_new_deaths(country_name)
    elif param == 'recoveries':
        time_series = get_new_recoveries(country_name)
    return time_series

dataset = create_time_series('India', 'confirmed')
dataset

        date    cases
0    1/22/20        0
1    1/23/20        0
2    1/24/20        0
3    1/25/20        0
4    1/26/20        0
..       ...      ...
237  9/15/20  5020359
238  9/16/20  5118253
239  9/17/20  5214677
240  9/18/20  5214677
241  9/19/20  5308014

[242 rows x 2 columns]

In [6]:
# Making the training dataset and test dataset
split_ratio = 0.8
train_size = int(split_ratio * len(dataset))
training_set = dataset.iloc[:train_size, 1:2].values
test_set = dataset.iloc[train_size:, 1:2].values

In [7]:
# Feature Scaling
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(training_set)

In [8]:
timesteps = 14
X_train = []
y_train = []
for i in range(timesteps, train_size):
  X_train.append(training_set_scaled[i - timesteps: i, 0])
  y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))

In [9]:
dataset = dataset.iloc[:, 1:2]
inputs = dataset[train_size - timesteps:].values
inputs = inputs.reshape(-1, 1)
inputs = sc.transform(inputs)
X_test = []
for i in range(timesteps, len(inputs)):
  X_test.append(inputs[i - timesteps:i, 0])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

## Building the LSTM Model

In [10]:
# Importing libraries and packages required
import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout, Bidirectional

# Importing sklearn parameter grid for Hyperparameter tuning
from sklearn.model_selection import ParameterGrid

In [11]:
def mape(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [12]:
# Setting the random seed for better model reproducibility
tf.random.set_seed(365)

# The main model building function
def build_model(units, activation, batch_size, n_layers, bidirectional, epochs):
    model = Sequential()
    
    if bidirectional:
        model.add(Bidirectional(LSTM(units=units, return_sequences=True, input_shape=(X_train.shape[1], 1))))
        
        for i in range(n_layers):
            model.add(Bidirectional(LSTM(units=units, activation=activation, return_sequences=True)))
        
        model.add(Bidirectional(LSTM(units=units, activation=activation)))
        model.add(Dense(units = 1))
        
    else:
        model.add(LSTM(units=units, return_sequences=True, input_shape=(X_train.shape[1], 1)))
        
        for i in range(n_layers):
            model.add(LSTM(units=units, activation=activation, return_sequences=True))
        
        model.add(LSTM(units=units, activation=activation))
        model.add(Dense(units=1))
    
    model.compile(optimizer='adam', loss='mse')
    model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size)
    
    predicted_cases = model.predict(X_test)
    predicted_cases = sc.inverse_transform(predicted_cases)
    
    error = mape(test_set, predicted_cases)
    
    return model, error

In [13]:
def hp_tuning():
    params = {
        'units': [150, 200, 250, 300],
        'activation': ['relu', 'swish'],
        'batch_size': [16, 32],
        'n_layers': [2, 3, 4],
        'bidirectional': [True]
    }
    
    params = ParameterGrid(params)

    model = None
    err = 1000
    arch = None

    for i in params:
        print(i)
        model_in, err_in = build_model(i['units'], i['activation'], i['batch_size'], i['n_layers'], i['bidirectional'], 30) 
        results.append((model_in, err_in))
        print(f'Model has an error of {err_in}%')
        if err_in < err:
            model = model_in
            err = err_in
            arch = i

    return model, err, arch

In [14]:
model, error = build_model(150, 'relu', 16, 3, True, 100)
error

Epoch 1/100
12/12 [==============================] - 2s 128ms/step - loss: 0.0282
Epoch 2/100
12/12 [==============================] - 2s 127ms/step - loss: 0.0034
Epoch 3/100
12/12 [==============================] - 2s 132ms/step - loss: 4.4973e-04
Epoch 4/100
12/12 [==============================] - 2s 133ms/step - loss: 2.1563e-04
Epoch 5/100
12/12 [==============================] - 2s 129ms/step - loss: 1.2215e-04
Epoch 6/100
12/12 [==============================] - 2s 132ms/step - loss: 6.1111e-04
Epoch 7/100
12/12 [==============================] - 2s 128ms/step - loss: 8.5837e-04
Epoch 8/100
12/12 [==============================] - 2s 153ms/step - loss: 0.0023
Epoch 9/100
12/12 [==============================] - 2s 130ms/step - loss: 0.0062
Epoch 10/100
12/12 [==============================] - 2s 172ms/step - loss: 0.0031
Epoch 11/100
12/12 [==============================] - 3s 241ms/step - loss: 0.0019
Epoch 12/100
12/12 [==============================] - 2s 171ms/step - loss: 0.0011
Epoch 13/100
12/12 [==============================] - 2s 131ms/step - loss: 4.8930e-04
Epoch 14/100
12/12 [==============================] - 2s 159ms/step - loss: 0.0011
Epoch 15/100
12/12 [==============================] - 3s 257ms/step - loss: 0.0010
Epoch 16/100
12/12 [==============================] - 2s 184ms/step - loss: 2.8996e-04
Epoch 17/100
12/12 [==============================] - 2s 130ms/step - loss: 8.5130e-05
Epoch 18/100
12/12 [==============================] - 1s 120ms/step - loss: 3.9167e-05
Epoch 19/100
12/12 [==============================] - 1s 120ms/step - loss: 2.0907e-05
Epoch 20/100
12/12 [==============================] - 1s 120ms/step - loss: 1.2769e-05
Epoch 21/100
12/12 [==============================] - 1s 117ms/step - loss: 9.4531e-06
Epoch 22/100
12/12 [==============================] - 2s 128ms/step - loss: 1.1697e-05
Epoch 23/100
12/12 [==============================] - 2s 141ms/step - loss: 6.0336e-06
Epoch 24/100
12/12 [==============================] - 2s 137ms/step - loss: 3.1239e-06
Epoch 25/100
12/12 [==============================] - 2s 158ms/step - loss: 3.2775e-06
Epoch 26/100
12/12 [==============================] - 2s 161ms/step - loss: 3.4051e-06
Epoch 27/100
12/12 [==============================] - 2s 146ms/step - loss: 4.9851e-06
Epoch 28/100
12/12 [==============================] - 2s 188ms/step - loss: 3.1321e-06
Epoch 29/100
12/12 [==============================] - 1s 119ms/step - loss: 1.4914e-05
Epoch 30/100
12/12 [==============================] - 2s 138ms/step - loss: 6.6005e-06
Epoch 31/100
12/12 [==============================] - 2s 175ms/step - loss: 8.3696e-06
Epoch 32/100
12/12 [==============================] - 2s 153ms/step - loss: 7.7065e-06
Epoch 33/100
12/12 [==============================] - 1s 122ms/step - loss: 8.7678e-06
Epoch 34/100
12/12 [==============================] - 2s 163ms/step - loss: 2.6082e-06
Epoch 35/100
12/12 [==============================] - 2s 149ms/step - loss: 2.7382e-06
Epoch 36/100
12/12 [==============================] - 1s 118ms/step - loss: 5.1667e-06
Epoch 37/100
12/12 [==============================] - 2s 146ms/step - loss: 6.6743e-06
Epoch 38/100
12/12 [==============================] - 2s 141ms/step - loss: 2.3131e-06
Epoch 39/100
12/12 [==============================] - 2s 141ms/step - loss: 2.6417e-06
Epoch 40/100
12/12 [==============================] - 2s 133ms/step - loss: 5.0598e-06
Epoch 41/100
12/12 [==============================] - 3s 234ms/step - loss: 3.2833e-06
Epoch 42/100
12/12 [==============================] - 2s 184ms/step - loss: 6.4996e-06
Epoch 43/100
12/12 [==============================] - 2s 126ms/step - loss: 6.7667e-06
Epoch 44/100
12/12 [==============================] - 2s 157ms/step - loss: 6.0024e-06
Epoch 45/100
12/12 [==============================] - 2s 200ms/step - loss: 5.4629e-05
Epoch 46/100
12/12 [==============================] - 3s 210ms/step - loss: 1.0047e-04
Epoch 47/100
12/12 [==============================] - 2s 200ms/step - loss: 1.1675e-04
Epoch 48/100
12/12 [==============================] - 3s 212ms/step - loss: 3.3611e-05
Epoch 49/100
12/12 [==============================] - 3s 260ms/step - loss: 1.7849e-05
Epoch 50/100
12/12 [==============================] - 3s 228ms/step - loss: 9.2022e-06
Epoch 51/100
12/12 [==============================] - 2s 179ms/step - loss: 1.6875e-05
Epoch 52/100
12/12 [==============================] - 2s 163ms/step - loss: 6.6340e-05
Epoch 53/100
12/12 [==============================] - 2s 191ms/step - loss: 5.6063e-05
Epoch 54/100
12/12 [==============================] - 2s 193ms/step - loss: 2.2654e-05
Epoch 55/100
12/12 [==============================] - 2s 177ms/step - loss: 2.6952e-05
Epoch 56/100
12/12 [==============================] - 1s 122ms/step - loss: 5.3491e-05
Epoch 57/100
12/12 [==============================] - 2s 137ms/step - loss: 6.5740e-05
Epoch 58/100
12/12 [==============================] - 1s 120ms/step - loss: 4.2289e-04
Epoch 59/100
12/12 [==============================] - 2s 137ms/step - loss: 2.4468e-04
Epoch 60/100
12/12 [==============================] - 2s 147ms/step - loss: 7.7112e-04
Epoch 61/100
12/12 [==============================] - 2s 132ms/step - loss: 7.0213e-04
Epoch 62/100
12/12 [==============================] - 2s 140ms/step - loss: 6.5234e-04
Epoch 63/100
12/12 [==============================] - 2s 199ms/step - loss: 1.2538e-04
Epoch 64/100
12/12 [==============================] - 2s 190ms/step - loss: 2.9071e-04
Epoch 65/100
12/12 [==============================] - 2s 163ms/step - loss: 2.6105e-04
Epoch 66/100
12/12 [==============================] - 2s 141ms/step - loss: 8.6486e-05
Epoch 67/100
12/12 [==============================] - 2s 138ms/step - loss: 2.0974e-05
Epoch 68/100
12/12 [==============================] - 2s 149ms/step - loss: 1.4994e-05
Epoch 69/100
12/12 [==============================] - 2s 137ms/step - loss: 8.0445e-06
Epoch 70/100
12/12 [==============================] - 2s 150ms/step - loss: 1.0053e-05
Epoch 71/100
12/12 [==============================] - 2s 140ms/step - loss: 1.3002e-05
Epoch 72/100
12/12 [==============================] - 3s 210ms/step - loss: 3.3102e-05
Epoch 73/100
12/12 [==============================] - 2s 160ms/step - loss: 4.6104e-05
Epoch 74/100
12/12 [==============================] - 1s 123ms/step - loss: 1.4207e-05
Epoch 75/100
12/12 [==============================] - 1s 123ms/step - loss: 6.6883e-06
Epoch 76/100
12/12 [==============================] - 1s 123ms/step - loss: 5.3050e-06
Epoch 77/100
12/12 [==============================] - 2s 125ms/step - loss: 1.0144e-05
Epoch 78/100
12/12 [==============================] - 2s 183ms/step - loss: 1.5377e-05
Epoch 79/100
12/12 [==============================] - 2s 144ms/step - loss: 3.4431e-05
Epoch 80/100
12/12 [==============================] - 3s 213ms/step - loss: 1.9835e-05
Epoch 81/100
12/12 [==============================] - 3s 221ms/step - loss: 5.2677e-05
Epoch 82/100
12/12 [==============================] - 2s 203ms/step - loss: 7.0638e-05
Epoch 83/100
12/12 [==============================] - 2s 135ms/step - loss: 6.7358e-05
Epoch 84/100
12/12 [==============================] - 3s 234ms/step - loss: 2.6438e-05
Epoch 85/100
12/12 [==============================] - 2s 191ms/step - loss: 1.1756e-05
Epoch 86/100
12/12 [==============================] - 2s 156ms/step - loss: 1.2329e-05
Epoch 87/100
12/12 [==============================] - 2s 126ms/step - loss: 1.8507e-05
Epoch 88/100
12/12 [==============================] - 1s 119ms/step - loss: 1.3526e-05
Epoch 89/100
12/12 [==============================] - 2s 179ms/step - loss: 1.4898e-05
Epoch 90/100
12/12 [==============================] - 2s 169ms/step - loss: 1.6702e-05
Epoch 91/100
12/12 [==============================] - 3s 213ms/step - loss: 1.3740e-05
Epoch 92/100
12/12 [==============================] - 1s 118ms/step - loss: 6.9600e-06
Epoch 93/100
12/12 [==============================] - 1s 117ms/step - loss: 8.9674e-06
Epoch 94/100
12/12 [==============================] - 2s 132ms/step - loss: 9.6112e-06
Epoch 95/100
12/12 [==============================] - 2s 146ms/step - loss: 3.3000e-05
Epoch 96/100
12/12 [==============================] - 2s 175ms/step - loss: 1.8495e-05
Epoch 97/100
12/12 [==============================] - 2s 147ms/step - loss: 6.1256e-06
Epoch 98/100
12/12 [==============================] - 2s 160ms/step - loss: 3.7602e-06
Epoch 99/100
12/12 [==============================] - 2s 135ms/step - loss: 3.9229e-05
Epoch 100/100
12/12 [==============================] - 2s 138ms/step - loss: 1.5852e-04

3.345107942931135